.buttons {
    display: flex;
    margin: 0 auto;
    background-color: #fff;
    width: 100%;
}

.dark {
    background-color: hsl(237, 14%, 26%);
    color: hsl(235, 18%, 59%);
}

.button {
    width: 100%;
    font-size: 0.7rem;
    padding: 0.7rem;
}

.clean:hover {
    cursor: pointer;
}

/* @media (max-width: 450px) {
    .buttons {
        width: 80%;
    }
} */

/* ////// */
