.task-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.4rem;
}

.task-container.task {
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.233);
    border-radius: 0;
}

.task.dark {
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.233);
}

.task-container.task:first-child {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.new-task {
    width: 60%;
}

.form {
    width: 100%;
}

.dark {
    background-color: hsl(237, 14%, 26%);
    color: hsl(235, 18%, 59%);
}

button {
    cursor: pointer;
    padding: 10px;
    margin-right: 8px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.137);
    background-color: #fff;
}

button.dark {
    border: 2px solid rgba(255, 255, 255, 0.226);
}

/*  Botão clicado */
button.completed,
button.completed.dark {
    background-repeat: no-repeat;
    padding: 12px;
    border: none;
    background-image: url("../assets/icon-check.svg"),
        linear-gradient(hsl(192, 100%, 67%, 0.9), hsl(280, 87%, 65%, 0.9));
    background-position: center;
}

p.completed {
    color: hsla(235, 19%, 35%, 0.342);
    text-decoration: line-through;
}

p.completed.dark {
    color: hsla(235, 18%, 59%, 0.342);
    text-decoration: line-through;
}

input,
.task-text {
    width: 100%;
}

input,
p {
    padding: 5px;
    border: none;
    color: hsl(235, 19%, 35%);
}

input:focus {
    outline: none;
}

@media (max-width: 450px) {
    .new-task {
        width: 80%;
    }
}
