.App,
.App-dark {
    background-repeat: no-repeat;
    min-height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items:center; */
}

.App {
    background-image: url("../assets/bg-desktop-light.jpg");
    background-color: hsl(0, 0%, 98%);
}

.App-dark {
    background-image: url("../assets/bg-desktop-dark.jpg");
    background-color: hsl(233, 22%, 14%);
}

@media (min-width: 1440px) {
    .App,
    .App-dark {
        background-size: 100%;
    }
}

@media (max-width: 375px) {
    .App {
        background-image: url("../assets/bg-mobile-light.jpg");
    }

    .App-dark {
        background-image: url("../assets/bg-mobile-dark.jpg");
    }
}
