.App,
.App-dark {
    background-repeat: no-repeat;
    height: 100vh;
}

.App {
    background-image: url("./assets/bg-desktop-light.jpg");
    background-color: hsl(0, 0%, 98%);
}

.App-dark {
    background-image: url("./assets/bg-desktop-dark.jpg");
    background-color: hsl(235, 21%, 11%);
}

@media (min-width: 1440px) {
    .App,
    .App-dark {
        background-size: 100%;
    }
}

@media (max-width: 375px) {
    .App {
        background-image: url("./assets/bg-mobile-light.jpg");
    }
    
    .App-dark {
        background-image: url("./assets/bg-mobile-dark.jpg");
    }
    
}
